<!-- Content Heading -->

<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    
<!-- Message Block -->
<%# messages() %>

<!-- Form -->
<<form action="/inv/update" method="post">
 <%- classificationSelect %>
 <div>
  <label for="inv_make">Make:</label>
  <input type="text" id="inv_make" name="inv_make" required 
    value="<%= locals.inv_make %>">
  <span id="error-inv_make" class="error-message"></span>
</div>
<div>
  <label for="inv_model">Model:</label>
  <input type="text" id="inv_model" name="inv_model" required 
  value="<%= locals.inv_model %>">

  <span id="error-inv_model" class="error-message"></span>
</div>
<div>
  <label for="inv_year">Year:</label>
  <input type="number" id="inv_year" name="inv_year" required min="1886" max="9999" 
  value="<%= locals.inv_year %>">

  <span id="error-inv_year" class="error-message"></span>
</div>
<div>
  <label for="inv_description">Description:</label>
  <textarea id="inv_description" name="inv_description" required></textarea>
  <span id="error-inv_description" class="error-message"></span>
</div>
<div>
  <label for="inv_price">Price:</label>
  <input type="number" id="inv_price" name="inv_price" required step="0.01" min="0" 
  value="<%= locals.inv_price %>">

  <span id="error-inv_price" class="error-message"></span>
</div>
<div>
  <label for="inv_miles">Miles:</label>
  <input type="number" id="inv_miles" name="inv_miles" required min="0" 
  value="<%= locals.inv_miles %>">

  <span id="error-inv_miles" class="error-message"></span>
</div>
<div>
  <label for="inv_color">Color:</label>
  <input type="text" id="inv_color" name="inv_color" required 
  value="<%= locals.inv_color %>">
  <span id="error-inv_color" class="error-message"></span>
</div>
<div>
    <input type="submit" name="submit" value="Update Vehicle">
</div>
</form>